.button-back {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: inherit;
  width: 130px;
  height: auto;
  align-self: flex-start;
  background-image: url('../../../images/arrow_back_24px.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px center;
  padding: 15px 0 15px 15px;

  &:hover {
    background-position: 0% center;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    background-size: 20% 100%;
    font-size: 24px;
    background-size: 20px;
    background-position: 15px center;
    padding: 20px 0 20px 20px;
  }
}