.loading {
  position: fixed;
  top: 60px;
  right: 5px;
  width: 70px;
  height: 70px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 140px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 200px;
  }
}

.loading-object {
  width: 100%;
  height: 100%;
  animation: rotate 1s infinite linear;
  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
}
