// Страница одного персонажа

.characterPage__button-back {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background-color: inherit;
  width: 130px;
  height: auto;
  align-self: flex-start;
  background-image: url('../../images/arrow_back_24px.svg');
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 5% center;
  margin: 15px 0 30px 0;

  &:hover {
    background-position: 0% center;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 200px;
    background-size: 20% 100%;
    font-size: 24px;
  }
}

.characterPage__image {
  max-width: 80%;
  margin-bottom: 20px;
  border: 3px solid $white;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }
}

.characterPage__main-title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 55px;
    margin-left: 100px;
  }
}

.image-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.informations-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
  }
}

.character-informations {
  width: 100%;
  margin-bottom: 30px;
}

.character-informations__item, .character-episodes__item {
  position: relative;
  margin-bottom: 15px;

  &::after {
    position: absolute;
    content: '';
    height: 1px;
    background-color: #e9e6e3;
    width: 100%;
    bottom: -8px;
    left: 0;
  }
}

.character-informations__item:last-of-type {
  background-image: url('../../images/chevron_right_24px.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
}

.character-informations__item-title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.character-informations__item-description {
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.character-informations__main-title, .character-episodes__main-title {
  font-size: 24px;
  color: #a39f9b;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

// Инфо об эпизодах

.character-episodes {
  width: 100%;
}

.character-episodes__item {
  background-image: url('../../images/chevron_right_24px.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
}

.character-episodes__item-title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.character-episodes__item-name {
  margin-bottom: 5px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.character-episodes__item-date {
  font-size: 14px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}


