.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
  align-items: center;
  background-color: $white;
}