.main-header {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
  align-items: center;
  background-color: $white;
  background-color: $green;
}