// Инфо об эпизодах

.character-episodes {
  width: 100%;
}

.character-episodes__item {
  background-image: url('../../../images/chevron-right.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
}

.character-episodes__item-title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.character-episodes__item-name {
  margin-bottom: 5px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.character-episodes__item-date {
  font-size: 14px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}